body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
    color: rgba(255, 31, 169, 0.801);
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 2rem;

}
.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.849);
    flex: 0 0 80%;

   
}

#quoteBtn {
border: none;
color: white;
background: rgba(245, 195, 120, 0.993);
font-size: 1.3rem;
padding: 0.5rem 0.6rem;
border-radius: 8px;
cursor: pointer;
font-family: 'Indie Flower', cursive;

}

#quoteBtn:hover {
    color: rgba(255, 122, 237, 0.781);
    
}

blockquote {
    background: pink;
    border-left: 10px solid rgb(245, 95, 120);
    margin: 1.5rem;
    padding: 1rem;
    color: rgba(255, 31, 169, 0.801);
    font-size: 1.7rem;

}

#quoteAuthor{
    color:  rgba(255, 31, 169, 0.801);
    font-size: 1.5rem;

}